<div class="page-width">
  <section>
    <h2 class="h1 center">Typography</h2>
    <p class="center">Display different font size and font family going to be used in the theme</p>

    <div>
      <h1>This is typed in H1</h1>
      <h2>This is typed in H2</h2>
      <h3>This is typed in H3</h3>
      <h4>This is typed in H4</h4>
      <h5>This is typed in H5</h5>
      <p>This is a body text</p>
    </div>
  </section>

  <section>
    <h2 class="h1 center">Buttons</h2>
    <p class="center">Display different button styles</p>
    <button class="button button--primary">Button primary</button>
    <br><br>
    <button class="button button--secondary">Button secondary</button>
    <br><br>
    <button class="button button--primary button--full-width">Button full</button>

    <p class="center">Display different button styles on disabled state</p>
    <button class="button button--primary" disabled>Button text</button>
  </section>

  <section>
    <h2 class="h1 center">Colors</h2>
    <p class="center">Display different colors and HEX values</p>
  </section>
</div>